/*
    NOTE => UNDERSTAND FLEX LAYOUT THEN YOU CAN EASILY GET GRID LAYOUT
*/
*/
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.grid-box {
    width:60vw;
    height:40vh;
    margin:auto;
    margin-top: 20vh;
    color:whitesmoke;
    font-size: 3rem;
    display: grid;
    /* grid-template-columns: 1fr 2fr; */
    grid-template-columns: repeat(4,15vw);
    grid-template-rows: 2fr 1fr 3fr;
    /* row-gap:3vh;
    column-gap:0.7vw; */
    gap:5%;
}
.grid-box-1  {
    width: 60vw;
    background-color: black;
    height:30vh;
    margin:auto;
    display: grid;
    grid-template-columns: 10vw 20vw;
    grid-template-rows: 5vh 5vh 5vh;
    justify-content: space-around;
    align-content: space-between;
}
/*
    grid-template-columns => defines total number of columns and width of each column
    grid-template-rows => defines width of height of each row but do not define total number of rows
        units that can used on bost grid-template-columns grid-template-rows
            fr => fractional units that efficiently devide the space into fractional parts
    row-gap => maintains gap between row
    colums-gap => maintains gap between column
    gap => sets same gap for both row and column
    justify-content => used to align grid elements horizontally (justify-items used in flex layout)
                start,end,center,stretch(default),space-between,space-around,space-evenly
    align-items => used to align grid elements vertically (same as flex layout)
                start,end,center,stretch(default)
    align-content => used to align gird elements in column axis (same as flex layout)
                start,end,center,space-between,space-around,space-evenly

        justify-items           align-items
            row axis            column axis
    start,end,center,stretch (comonly used values)

        justify-content         align-content
    Aligns grid tracks when the grid inself has extra space
            row axis             column axis
    start,end,center,space-around,space-evenly,space-between
    
    align-items,justify-content,align-content => most comonly used in flex and grid
    justify-items => specifically used for grid
    
    These have to place in cells of grid
        grid-row: start/end;
                it occupies start row to end row
        grid-column: start/end
                It occupies start column to end column
    align-self,justify-self => applies to specificc element
            start,end,center,stretch(default)
*/
.grid-item-1 {
    background-color: fuchsia;
    /* align-self: start; */
    /* justify-self: center; */
}
.grid-item-2 {
    background-color: teal;
}
.grid-item-3 {
    background-color: coral;
}
.grid-item-4 {
    background-color: salmon;
    /* grid-row:1/3;
    grid-column: 1/2; */
}
.grid-item-5 {
    background-color: crimson;
    /* grid-column: 1/3; */
}
.grid-item-6 {
    background-color: olivedrab;
}