* {
    margin: 0px;
}
p {
    text-align: justify;
}
p::first-letter {
    font-size: 50px;
}
p::first-line {
    color:gray;
}
p::selection {
    background-color: green;
    color:white;
}
p::after {
    content: "css text";
    color: deeppink;
}