* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*
    >1536px => larger screen => 2XL
    1280px<>1536px => large laptops => XL
    1024px<>1280px => small laptop => LG
    968px<>1024px => tablet => MD
    576px<>968px => phone Landscape => SM
    <576px => porttrait phone => XS
    
    @media is used to adjust styles according to screen size.Above are standard screen sizes used in designing
*/
.row {
    display: flex;
}
.card {
    padding: 50px;
}
.card-header {
    background-color: black;
    color:white;
    padding: 10px;
}
.card-body {
    padding: 10px;
}
@media (max-width:1000px) {
    .row {
        flex-direction: column;    
    }
}
@media (max-width:500px) {
    .card {
        padding: 0px;
    }
}