* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
/*
    0px,500px,1000px,1500px
    
    @media is used to adjust styles according to screen size.Above are standard screen sizes used in designing
*/
.row {
    display: flex;
}
.card {
    padding: 50px;
}
.card-header {
    background-color: black;
    color:white;
    padding: 10px;
}
.card-body {
    padding: 10px;
}
@media (max-width:1000px) {
    .row {
        flex-direction: column;    
    }
}
@media (max-width:500px) {
    .card {
        padding: 0px;
    }
}