:root {
    --background-color:teal;
    --text-white:white;
}
* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.main {
    background-color: var(--background-color);
    width:80vw;
    padding: 30px;
    margin:auto;
    margin-top:20vh;
}
.card {
    color:var(--teal-color);
    background-color: aqua;
}